# Import Libraries

In [1]:
import pandas as pd
import numpy as np
#from sklearn.decomposition import TruncatedSVD

In [2]:
# Load dataset

In [3]:
frame=pd.read_csv("jokes-data.csv")

In [4]:
frame

                id  user_id  joke_id  Rating
0        31030_110    31030      110   2.750
1        16144_109    16144      109   5.094
2          23098_6    23098        6  -6.438
3         14273_86    14273       86   4.406
4        18419_134    18419      134   9.375
...            ...      ...      ...     ...
1092054   9517_132     9517      132   3.156
1092055  27767_118    27767      118  -1.594
1092056   10580_81    10580       81   2.000
1092057  31007_119    31007      119   8.906
1092058    8420_98     8420       98  -3.344

[1092059 rows x 4 columns]

In [5]:
frame['user_id'].nunique()

40863

In [6]:
frame=frame.drop('id',axis=1)

In [7]:
frame.shape

(1092059, 3)

In [8]:
frame['joke_id'].nunique()

139

In [9]:
frame.groupby('joke_id')['Rating'].count().sort_values(ascending=False).head()

joke_id
6    27498
8    27485
5    27402
3    27369
4    27368
Name: Rating, dtype: int64

In [10]:
frame['Rating'].value_counts()

 9.938    4692
 9.969    4584
 9.906    4247
 9.875    3808
 9.844    3466
          ...
-7.625     575
-7.656     562
-7.688     541
-9.969     453
-9.938     305
Name: Rating, Length: 641, dtype: int64

In [11]:
frame['joke_id'].value_counts()

6      27498
8      27485
5      27402
3      27369
4      27368
       ...
70       113
41       112
42       109
106      104
90       100
Name: joke_id, Length: 139, dtype: int64

In [12]:
frame['Rating'].value_counts().sort_values(ascending=False)

 9.938    4692
 9.969    4584
 9.906    4247
 9.875    3808
 9.844    3466
          ...
-7.625     575
-7.656     562
-7.688     541
-9.969     453
-9.938     305
Name: Rating, Length: 641, dtype: int64

In [13]:
frame['Rating']

0          2.750
1          5.094
2         -6.438
3          4.406
4          9.375
           ...
1092054    3.156
1092055   -1.594
1092056    2.000
1092057    8.906
1092058   -3.344
Name: Rating, Length: 1092059, dtype: float64

In [14]:
frame.isna().sum()

user_id    0
joke_id    0
Rating     0
dtype: int64

# Collaborative Filtering

In [15]:
from surprise import Reader,KNNBasic,Dataset,SVD

## define a reader object
# the reader object helps in parsing the file or dataframe containing ratings

In [16]:
reader=Reader()

# create a dataset to be used for building the filter

In [17]:
data = Dataset.load_from_df(frame, reader)

In [18]:
data

In [19]:
from surprise.model_selection import cross_validate

# SVD

In [20]:
algo2 = SVD()

In [21]:
cross_validate(algo2, data, measures = ["RMSE"], cv = 5, verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.6546  4.6707  4.6553  4.6635  4.6664  4.6621  0.0063
Fit time          23.82   28.11   27.97   27.68   29.33   27.38   1.87
Test time         4.21    5.28    5.36    4.70    4.31    4.77    0.48

{'test_rmse': array([4.65463982, 4.67067217, 4.65528038, 4.66353731, 4.66640944]),
 'fit_time': (23.82308602333069,
  28.111130952835083,
  27.972740411758423,
  27.678147315979004,
  29.325356006622314),
 'test_time': (4.2131805419921875,
  5.2765607833862305,
  5.359563112258911,
  4.703798532485962,
  4.308398962020874)}

In [ ]:
# SVD is rating the unknown rating of the sparse matrix with mean RMSE as 4.65